manifest {
  author = "Preecha Patumcharoenpol".split(" ")[1]
  nextflowVersion = ">=22.04.0"
  version = '0.1.0'
}

// Example configuration
params {

  help = false
  // Input/ Output options
  input = "input.csv"

  // Sequence handling
  single_end = false
  trimfront1 = 17
  trimfront2 = 21
  trimtail1 = 0
  trimtail2 = 0
  qc = true
  minOverlap = 12

}

profiles {

  local {
    process.executor = 'local'
  }

  conda {
    conda.cacheDir      = "$HOME/.sysmiome/minflow/cache/conda"
    process.conda       = "${projectDir}/envs/minflow.yaml"
    conda.enabled       = true
    docker.enabled      = false
    singularity.enabled = false
  }
  mamba {
    conda.cacheDir      = "$HOME/.sysmiome/minflow/cache/conda"
    conda.enabled       = true
    conda.useMamba      = true
    docker.enabled      = false
    singularity.enabled = false
    process.conda       = "${projectDir}/envs/minflow.yaml"
  }
  docker {
	docker.enabled         = true
	docker.registry        = 'quay.io'
	docker.userEmulation   = true
	conda.enabled          = false
	singularity.enabled    = false
  }
  singularity {
	singularity.enabled    = true
	singularity.autoMounts = true
	singularity.cacheDir   = "$HOME/.sysmiome/minflow/cache/singularity"
	conda.enabled          = false
	docker.enabled         = false
  }

  sysbiome { includeConfig 'conf/sysbiome.config' }
  test     { includeConfig 'conf/test.config'     }
  
}

// vi: ft=groovy
